body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(
        23deg,
        hsl(49deg 100% 69%) 0%,
        hsl(16deg 80% 61%) 2%,
        hsl(330deg 81% 34%) 12%,
        hsl(259deg 100% 15%) 50%,
        hsl(212deg 100% 25%) 88%,
        hsl(197deg 100% 30%) 98%,
        hsl(183deg 79% 36%) 100%
    );
}

.welcome-container {
    background-color: #2E3036;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    color: white;
}
.welcome-container h1 {
    margin-bottom: 1em;
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.welcome-container input {
    padding: 0.5em;
    width: 200px;
    margin-bottom: 1em;
}
.username {
    text-align: center;
    margin-left: 250px;
    white-space: nowrap;
    margin-bottom: 500px;
}

.chat-container {
    width: 900px;
    height: 750px;
    background-color: #2E3036;
    box-shadow: 0 0 1.25em 0.5em #c3c3c333;
    border-radius: 10mm;
    display: flex;
    flex-direction: column;
    position: relative; /* Needed for absolute positioning of input box */
    overflow: hidden;
}

.chat-box {
    padding: 10px;
    height: calc(100% - 80px); /* Adjust height to account for input box height */
    overflow-y: auto;
    box-sizing: border-box;
}


.chat-box::-webkit-scrollbar{
    display: none;
}

.message {
    margin: 10px 0;
    border-radius: 10px;
    max-width: 80%;
    color: white;
    font-size: 14px;
    padding: 10px;
    background-color: #3a3b3f;
    position: relative;
    overflow-wrap: break-word; /* Ensure text breaks properly */
}

.message-left {
    align-self: flex-start;
    background-color: #4d4e52;
    border-radius: 15px 15px 15px 0;
}

.message-right {
    align-self: flex-end;
    background-color: #007bff;
    border-radius: 15px 15px 0 15px;
    color: white;
}

.message .time {
    font-size: 10px;
    color: #a0a0a0;
    display: block;
    text-align: right;
    margin-top: 5px;
}

.date-divider {
    text-align: center;
    font-size: 12px;
    color: #555;
    margin: 10px 0;
    position: relative;
}

.date-divider::before,
.date-divider::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background-color: #ccc;
}

.date-divider::before {
    left: 0;
}

.date-divider::after {
    right: 0;
}

.input-box {
    display: flex;
    align-items: center; /* Align items vertically centered */
    padding: 10px;
    background-color: #2E3036;
    border-radius: 0 0 10px 10px;
    position: absolute; /* Changed to absolute to stick at the bottom */
    bottom: 0; /* Stick the input box at the bottom of the container */
    width: 100%; /* Ensure it stretches across the width of the container */
    box-sizing: border-box; /* Ensures padding is included in the width calculation */
}


.input-box input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    outline: none;
    background-color: #a9a9a9;
    margin-left: 8px;
}

.input-box button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.input-box button:hover {
    filter: brightness(0.9);
}

.input-box button:active {
    transform: translateY(2px);
}

.input-box .clear-button {
    background-color: #ff4d4d;
    color: white;
}

.input-box .attach-file-button{
    margin-right: 8px;
}

.file-transfer-area {
    padding: 10px;
    background-color: #3a3b3f;
    border-radius: 10px;
    margin-bottom: 10px;
}

.file-preview {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: white;
}

.file-preview img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.file-progress {
    height: 5px;
    background-color: #007bff;
    width: 0;
    transition: width 0.3s;
}

.attach-file-button {
    background-color: #4CAF50;
    margin-right: 5px;
}

.file-download-link.no-underline {
    text-decoration: none;
    color: white;
}

.file-download-link.no-underline:hover {
    text-decoration: underline;
}

.chat-status-message {
    background-color: #28a745;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    position: sticky;
    top: 0;
    z-index: 1;
    display: block; /* Default is visible */
}
